<!DOCTYPE html>
<html>
  <head>
    <title>AppTeknikportalen</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <script src="https://use.fontawesome.com/fad383e6ed.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
